*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Tajawal',sans-serif;

}

body{

background:#121218;
color:white;

}

a{

text-decoration:none;

}

header{

position:fixed;

top:0;

left:0;

width:100%;

z-index:999;

padding:22px 6%;

background:rgba(18,18,24,.65);

backdrop-filter:blur(18px);

border-bottom:1px solid rgba(255,255,255,.06);

}

.navbar{

display:flex;

align-items:center;

justify-content:space-between;

}

.logo{

font-size:30px;

font-weight:800;

color:#fff;

}

.logo span{

color:#6D28FF;

}

.nav-links{

display:flex;

gap:38px;

list-style:none;

}

.nav-links a{

color:#cfcfcf;

font-size:17px;

font-weight:500;

transition:.3s;

}

.nav-links a:hover{

color:#6D28FF;

}

.btn-nav{

background:#6D28FF;

padding:13px 28px;

border-radius:14px;

font-weight:700;

color:white;

transition:.35s;

}

.btn-nav:hover{

transform:translateY(-3px);

box-shadow:0 15px 35px rgba(109,40,255,.45);

}

.menu-btn{

display:none;

font-size:32px;

cursor:pointer;

}

.mobile-menu{

position:fixed;

top:90px;

right:-100%;

width:280px;

height:calc(100vh - 90px);

background:#17171F;

display:flex;

flex-direction:column;

padding:35px;

gap:25px;

transition:.4s;

border-left:1px solid rgba(255,255,255,.06);

}

.mobile-menu.active{

right:0;

}

.mobile-menu a{

color:white;

font-size:18px;

font-weight:600;

}

.mobile-btn{

margin-top:20px;

background:#6D28FF;

padding:15px;

text-align:center;

border-radius:14px;

}

@media(max-width:992px){

.nav-links{

display:none;

}

.btn-nav{

display:none;

}

.menu-btn{

display:block;

}

}











.hero{

padding-top:170px;
padding-bottom:120px;

position:relative;

overflow:hidden;

}

.hero::before{

content:"";

position:absolute;

width:650px;
height:650px;

background:#6D28FF;

filter:blur(220px);

opacity:.18;

top:-250px;

left:50%;

transform:translateX(-50%);

z-index:-1;

}

.hero-container{

max-width:1200px;

margin:auto;

padding:0 25px;

text-align:center;

}

.hero-badge{

display:inline-flex;

align-items:center;

gap:10px;

padding:12px 22px;

border-radius:50px;

background:rgba(109,40,255,.12);

border:1px solid rgba(109,40,255,.35);

color:#BDA8FF;

font-weight:700;

margin-bottom:30px;

}

.hero h1{

font-size:72px;

font-weight:900;

line-height:1.2;

max-width:900px;

margin:auto;

}

.hero h1 span{

color:#6D28FF;

}

.hero p{

margin:35px auto;

max-width:760px;

font-size:22px;

line-height:2;

color:#A7A7B4;

}

.hero-buttons{

display:flex;

justify-content:center;

gap:18px;

margin-top:45px;

flex-wrap:wrap;

}

.primary-btn{

background:#6D28FF;

color:white;

padding:18px 42px;

border-radius:14px;

font-size:18px;

font-weight:700;

transition:.35s;

}

.primary-btn:hover{

transform:translateY(-4px);

box-shadow:0 20px 45px rgba(109,40,255,.4);

}

.secondary-btn{

padding:18px 42px;

border-radius:14px;

border:1px solid rgba(255,255,255,.12);

color:white;

transition:.35s;

}

.secondary-btn:hover{

background:#1B1B23;

}

.hero-features{

margin-top:65px;

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:16px;

}

.hero-features span{

padding:12px 20px;

border-radius:40px;

background:#181820;

border:1px solid rgba(255,255,255,.05);

font-size:15px;

color:#D4D4D8;

transition:.3s;

}

.hero-features span:hover{

border-color:#6D28FF;

transform:translateY(-3px);

}

@media(max-width:992px){

.hero h1{

font-size:46px;

}

.hero p{

font-size:18px;

line-height:1.8;

}

}

@media(max-width:600px){

.hero{

padding-top:140px;

}

.hero h1{

font-size:34px;

}

.hero p{

font-size:16px;

}

.hero-features{

gap:12px;

}

.hero-features span{

width:100%;

text-align:center;

}

}




.pricing-section {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    background: #121218;
    font-family: 'Tajawal', sans-serif;
}

.pricing-card {
    position: relative;
    width: 100%;
    max-width: 760px;
    background: #181820;
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 28px;
    padding: 45px;
    overflow: hidden;
    transition: .35s ease;
}

.pricing-card:hover {
    transform: translateY(-8px);
    border-color: #6D28FF;
    box-shadow: 0 30px 80px rgba(109, 40, 255, .20);
}

.popular {
    position: absolute;
    left: 30px;
    top: 25px;
    background: #6D28FF;
    color: #fff;
    padding: 8px 18px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
}

.plan-header {
    text-align: center;
}

.plan-icon {
    display: block;
    font-size: 48px;
    margin-bottom: 15px;
}

.plan-header h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 15px;
}

.price {
    margin-bottom: 12px;
}

.price span {
    font-size: 60px;
    color: #6D28FF;
    font-weight: 900;
}

.price small {
    font-size: 20px;
    color: #b5b5c5;
}

.split-payment {
    display: inline-block;
    margin: 18px 0;
    padding: 10px 18px;
    border-radius: 50px;
    background: rgba(109, 40, 255, .12);
    border: 1px solid rgba(109, 40, 255, .35);
    color: #d9ccff;
    font-weight: 600;
}

.description {
    margin-top: 20px;
    color: #a6a6b5;
    line-height: 1.9;
    font-size: 18px;
}

.cta-btn {
    display: block;
    width: 100%;
    margin: 35px auto;
    padding: 18px;
    border-radius: 16px;
    text-align: center;
    background: #6D28FF;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    transition: .3s ease;
}

.cta-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 50px rgba(109, 40, 255, .35);
}

.divider {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, .08);
    margin: 40px 0;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.feature {
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.feature span {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #22222D;
    border-radius: 16px;
    font-size: 24px;
}

.feature h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 8px;
}

.feature p {
    color: #9d9dad;
    line-height: 1.8;
}

.payment-box {
    background: #15151D;
    border: 1px solid rgba(255, 255, 255, .05);
    border-radius: 18px;
    padding: 28px;
}

.payment-box h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 22px;
}

.payment-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
    color: #cfcfd8;
}

.payment-row:last-child {
    border-bottom: none;
}

.payment-row strong {
    color: #6D28FF;
    font-weight: 700;
}

@media (max-width:768px) {

    .pricing-card {
        padding: 30px;
    }

    .plan-header h2 {
        font-size: 32px;
    }

    .price span {
        font-size: 48px;
    }

    .feature {
        flex-direction: column;
    }

    .feature span {
        width: 50px;
        height: 50px;
    }

}



.accordion-section{

margin-top:70px;

}

.accordion-title{

font-size:38px;

font-weight:800;

text-align:center;

margin-bottom:45px;

}

.accordion{

display:flex;

flex-direction:column;

gap:10px;

}

.accordion-item{

background:#181820;

border:1px solid rgba(255,255,255,.06);

border-radius:20px;

overflow:hidden;

transition:.3s;

}

.accordion-item:hover{

border-color:#6D28FF;

}

.accordion-header{

width:100%;

padding:24px 30px;

display:flex;

justify-content:space-between;

align-items:center;

cursor:pointer;

background:none;

border:none;

color:white;

font-size:22px;

font-weight:700;

font-family:'Tajawal',sans-serif;

}

.icon{

font-size:28px;

color:#6D28FF;

transition:.3s;

}

.accordion-content{

max-height:0;

overflow:hidden;

transition:.4s;

}

.accordion-content ul{

padding:0 35px 30px;

display:flex;

flex-direction:column;

gap:18px;

}

.accordion-content li{

list-style:none;

color:#A8A8B6;

font-size:17px;

line-height:1.8;

position:relative;

padding-right:28px;

}

.accordion-content li::before{

content:"✔";

position:absolute;

right:0;

color:#6D28FF;

font-weight:bold;

}

.accordion-item.active .accordion-content{

max-height:700px;

}

.accordion-item.active .icon{

transform:rotate(45deg);

}

@media(max-width:768px){

.accordion-header{

font-size:18px;

padding:10px;

}

.accordion-title{

font-size:30px;

}

}
.cta-box{

max-width:900px;

margin:120px auto;

padding:70px 40px;

background:linear-gradient(180deg,#1A1A23,#15151D);

border:1px solid rgba(109,40,255,.25);

border-radius:30px;

text-align:center;

position:relative;

overflow:hidden;

}

.cta-box::before{

content:"";

position:absolute;

width:350px;

height:350px;

background:#6D28FF;

filter:blur(180px);

opacity:.18;

top:-180px;

left:50%;

transform:translateX(-50%);

pointer-events:none;

}

.cta-box h2{

font-size:48px;

font-weight:800;

margin-bottom:20px;

color:#fff;

position:relative;

}

.cta-box p{

font-size:19px;

line-height:2;

color:#B3B3C2;

max-width:650px;

margin:auto;

position:relative;

}

.cta-buttons{

margin-top:45px;

display:flex;

justify-content:center;

gap:10px;

flex-wrap:wrap;

position:relative;

}

.btn-primary{

padding:18px 40px;

background:#6D28FF;

color:#fff;

border-radius:16px;

font-size:18px;

font-weight:700;

text-decoration:none;

transition:.35s;

}

.btn-primary:hover{

transform:translateY(-5px);

background:#7D42FF;

box-shadow:0 20px 45px rgba(109,40,255,.45);

}

.btn-secondary{

padding:5px 5px;

border:1px solid rgba(255,255,255,.10);

border-radius:16px;

color:#fff;

font-size:18px;

font-weight:700;

text-decoration:none;

background:#1A1A22;

transition:.35s;

}

.btn-secondary:hover{

background:#232330;

border-color:#6D28FF;

transform:translateY(-5px);

}

@media(max-width:768px){

.cta-box{

padding:5px 25px;

}

.cta-box h2{

font-size:34px;

}

.cta-box p{

font-size:17px;

}

.cta-buttons{

flex-direction:column;

}

.btn-primary,
.btn-secondary{

width:100%;

}

}

.cta-section{

padding:40px 20px;

display:flex;

justify-content:center;

}

.cta-content{

max-width:900px;

width:100%;

padding:70px 50px;

background:linear-gradient(180deg,#181820,#14141B);

border:1px solid rgba(109,40,255,.18);

border-radius:28px;

text-align:center;

position:relative;

overflow:hidden;

}

.cta-content::before{

content:"";

position:absolute;

width:420px;

height:420px;

background:#6D28FF;

filter:blur(180px);

opacity:.12;

top:-220px;

left:50%;

transform:translateX(-50%);

pointer-events:none;

}

.cta-content h2{

font-size:52px;

font-weight:800;

color:#fff;

margin-bottom:25px;

position:relative;

}

.cta-text{

font-size:21px;

line-height:2;

color:#B8B8C5;

max-width:760px;

margin:auto;

position:relative;

}

.cta-text span{

color:#6D28FF;

font-weight:800;

}

.limited-box{

margin:45px auto;

padding:18px 28px;

max-width:720px;

background:rgba(109,40,255,.10);

border:1px solid rgba(109,40,255,.25);

border-radius:16px;

font-size:18px;

font-weight:600;

color:#E8E1FF;

line-height:1.8;

position:relative;

}

.cta-button{

display:inline-block;

padding:10px 20px;

background:#6D28FF;

border-radius:16px;

color:#fff;

font-size:18px;

font-weight:700;

text-decoration:none;

transition:.35s;

position:relative;

}

.cta-button:hover{

background:#7A3AFF;

transform:translateY(-4px);

box-shadow:0 20px 50px rgba(109,40,255,.40);

}

@media(max-width:768px){

.cta-content{

padding:10px 10px;

}

.cta-content h2{

font-size:34px;

}

.cta-text{

font-size:17px;

line-height:1;

}

.limited-box{

font-size:16px;

padding:5px 5px;

}

.cta-button{

width:100%;

}

}

.faq-section{

padding:120px 20px;

max-width:1000px;

margin:auto;

}

.faq-heading{

text-align:center;

margin-bottom:60px;

}

.faq-heading span{

color:#6D28FF;

font-weight:700;

font-size:18px;

}

.faq-heading h2{

font-size:48px;

margin:15px 0;

font-weight:800;

color:#fff;

}

.faq-heading p{

color:#A8A8B6;

font-size:18px;

line-height:1.8;

max-width:650px;

margin:auto;

}

.faq-container{

display:flex;

flex-direction:column;

gap:16px;

}

.faq-item{

background:#181820;

border:1px solid rgba(255,255,255,.06);

border-radius:18px;

overflow:hidden;

transition:.3s;

}

.faq-item:hover{

border-color:#6D28FF;

}

.faq-question{

width:100%;

background:none;

border:none;

padding:24px 20px;

display:flex;

justify-content:space-between;

align-items:center;

cursor:pointer;

color:#fff;

font-size:20px;

font-weight:700;

font-family:'Tajawal',sans-serif;

}

.faq-icon{

font-size:30px;

color:#6D28FF;

transition:.35s;

}

.faq-answer{

max-height:0;

overflow:hidden;

transition:max-height .4s ease;

}

.faq-answer p{

padding:0 20px 20px;

color:#A8A8B6;

line-height:2;

font-size:17px;

}

.faq-answer strong{

color:#fff;

}

.faq-item.active .faq-answer{

max-height:100px;

}

.faq-item.active .faq-icon{

transform:rotate(45deg);

}

@media(max-width:768px){

.faq-heading h2{

font-size:34px;

}

.faq-question{

font-size:17px;

padding:10px;

}

.faq-answer p{

padding:0 10px 10px;

font-size:16px;

}

}

.dashboard-section{

padding:10px 10px;

background:#121218;

}

.section-title{

text-align:center;

max-width:700px;

margin:auto;

margin-bottom:70px;

}

.section-title span{

color:#6D28FF;

font-weight:700;

font-size:18px;

}

.section-title h2{

font-size:48px;

color:#fff;

margin:15px 0;

font-weight:800;

}

.section-title p{

color:#9E9EAE;

font-size:18px;

line-height:1;

}

.dashboard-grid{

max-width:1300px;

margin:auto;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}

.dashboard-card{

position:relative;

overflow:hidden;

border-radius:24px;

background:#181820;

border:1px solid rgba(255,255,255,.08);

transition:.4s;

cursor:pointer;

}

.dashboard-card img{

width:100%;

display:block;

transition:.5s;

}

.dashboard-overlay{

position:absolute;

left:0;

right:0;

bottom:0;

padding:10px;

background:linear-gradient(to top,#121218,transparent);

}

.dashboard-overlay h3{

color:#fff;

font-size:22px;

margin-bottom:6px;

}

.dashboard-overlay span{

color:#B6B6C5;

font-size:15px;

}

.dashboard-card:hover{

transform:translateY(-10px);

border-color:#6D28FF;

box-shadow:0 30px 80px rgba(109,40,255,.18);

}

.dashboard-card:hover img{

transform:scale(1.05);

}

@media(max-width:992px){

.dashboard-grid{

grid-template-columns:1fr;

}

.section-title h2{

font-size:36px;

}

}



.mission-section{

padding:120px 20px;

}

.mission-container{

max-width:900px;

margin:auto;

text-align:center;

padding:70px 50px;

background:linear-gradient(180deg,#181820,#14141B);

border:1px solid rgba(109,40,255,.18);

border-radius:28px;

position:relative;

overflow:hidden;

}

.mission-container::before{

content:"";

position:absolute;

top:-180px;

left:50%;

transform:translateX(-50%);

width:420px;

height:420px;

background:#6D28FF;

filter:blur(170px);

opacity:.12;

pointer-events:none;

}

.mission-badge{

display:inline-flex;

align-items:center;

gap:8px;

padding:10px 10px;

background:rgba(109,40,255,.12);

border:1px solid rgba(109,40,255,.25);

border-radius:50px;

color:#6D28FF;

font-size:15px;

font-weight:700;

margin-bottom:25px;

position:relative;

z-index:2;

}

.mission-container h2{

font-size:48px;

font-weight:800;

color:#fff;

line-height:1.3;

margin-bottom:25px;

position:relative;

z-index:2;

}

.mission-container p{

font-size:20px;

line-height:2;

color:#B8B8C5;

max-width:720px;

margin:auto;

position:relative;

z-index:2;

}

@media(max-width:768px){

.mission-container{

padding:10px 10px;

}

.mission-container h2{

font-size:34px;

}

.mission-container p{

font-size:17px;

line-height:1.9;

}

}





.stats-section{

padding:20px 20px;

background:#121218;

}

.stats-container{

max-width:1300px;

margin:auto;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.stat-card{

background:#181820;

border:1px solid rgba(255,255,255,.08);

border-radius:22px;

padding:40px 30px;

text-align:center;

transition:.35s ease;

position:relative;

overflow:hidden;

}

.stat-card::before{

content:"";

position:absolute;

top:-80px;

right:-80px;

width:180px;

height:180px;

background:rgba(109,40,255,.08);

border-radius:50%;

transition:.4s;

}

.stat-card:hover{

transform:translateY(-8px);

border-color:#6D28FF;

box-shadow:0 20px 60px rgba(109,40,255,.18);

}

.stat-card:hover::before{

transform:scale(1.4);

}

.stat-card h2{

font-size:46px;

font-weight:800;

color:#6D28FF;

margin-bottom:12px;

}

.stat-card h3{

font-size:22px;

color:#fff;

margin-bottom:15px;

font-weight:700;

}

.stat-card p{

font-size:16px;

line-height:1.8;

color:#A8A8B6;

}

@media(max-width:992px){

.stats-container{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.stats-container{

grid-template-columns:1fr;

}

.stat-card{

padding:35px 25px;

}

.stat-card h2{

font-size:38px;

}

.stat-card h3{

font-size:20px;

}

}